/* Custom CSS for LogicalDev */

/* Home Page Styles */

.divider-image-1
 {
    background-image: url('/static/img/home/home-androide2.webp');
}

.divider-image-3 {
    background-image: url('/static/img/contacto/contacto-androide.webp');
}

.mxd-promo__bg {
    background-image: url('/static/img/home/pre-footer.webp');
}

